@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Titillium+Web:ital,wght@0,300;1,400&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #333;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
    margin: 0;
}

.logo h3{
    letter-spacing: 3px;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

li{
    text-decoration: none;
}

a{
    text-decoration: none;
}

footer{
    display: block;
    text-align: center;
    color: #777;
}

.notfound{
    text-align: center;
}

.notfound a{
    text-decoration: underline;
}