.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
}

.homeButton{
  border: none;
  background: #1589ff;
  padding: 15px 32px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  letter-spacing: 1px;
  color: white;
}